[submodule "themes/WIPPTheme"]
	path = themes/WIPPTheme
	url = git@github.com:josephtklein/WIPPTheme.git

[submodule "modules/party"]
	path = modules/party
	url = http://git.drupal.org/project/party.git

[submodule "modules/entity"]
	path = modules/entity
	url = http://git.drupal.org/project/entity.git

[submodule "modules/views"]
	path = modules/views
	url = http://git.drupal.org/project/views.git

[submodule "modules/messsage"]
	path = modules/messsage
	url = http://git.drupal.org/project/messsage.git

[submodule "modules/token"]
	path = modules/token
	url = http://git.drupal.org/project/token.git

[submodule "modules/entityreference"]
	path = modules/entityreference
	url = http://git.drupal.org/project/entityreference.git

[submodule "modules/features"]
	path = modules/features
	url = http://git.drupal.org/project/features.git

[submodule "modules/strongarm"]
	path = modules/strongarm
	url = http://git.drupal.org/project/strongarm.git

[submodule "modules/date"]
	path = modules/date
	url = http://git.drupal.org/project/date.git

